@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


@layer base {
    body {
        /* font-family: 'Lilita One', cursive; */
        font-family: Optima, sans-serif;
        @apply text-xl
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
    }

    .curved-text {
    overflow: visible;
    letter-spacing: 6px;
    font-size: 14px;
    animation: spin 20s linear infinite;
    }

    @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }
    .skill-card {
        opacity: 0;
        transform: translateY(-100vh);
      }
      .skills-section {
        min-height: 100vh;
        padding: 50px 0;
        position: relative;
      }
      @keyframes fall {
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
      .star {
        display: inline-block;
        transform: translateY(px); /* Adjust the value to lower the position */
      }
}